body{
    background-color: #2e2d2d;
}

h1 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    color: white;
} 

h2 { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
    color: white;
} 

p { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
    color: white;
} 

summary { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
    color: white;
} 

footer { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
    color: white;
}

a { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .topnav {
    width: 100%; 
    background-color: #000;
    overflow: hidden; 
  }

  .topnav a {
    float: left; 
    text-align: left; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    font-size: 24px; 
  }

  .topnav a.split{
    float:left;
    text-align: center;
    background-color: #000;
    color: orangered;
  }
  
  .topnav a:hover {
    background-color: #2e2d2d; /* Add a hover color */
  }

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}
.image1{
    display: inline-block;
    text-align: left;
}

.image2{
    display: inline-block;
    text-align: center;
}

.image3{
    display: inline-block;
    text-align: right;
}
